<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KrasovBurger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header id="header" class="fixed-top">
        <!-- Navbar Begin -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000">
            <img class="navbar-brand" style=" width: 220px;" src="/img/logo-krasov-burger.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#hero">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#burger-list">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#album">Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#catering">Catering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacts">Contact</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-light ml-3" type="submit">Enter</button>
                    <button class="btn btn-outline-light ml-3" type="submit">Cart</button>
                </form>
            </div>
        </nav>
    </header>
    <!-- Navbar End -->

    <!-- Section Begin -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-8">
                    <h1>Krasov Burger</h1>
                    <p>
                        Krasov Burger
                        First-class and authentic
                    </p>
                    <a class="btn btn-outline-light btn-lg m-2"
                       href="#burger-list"
                       role="button">
                        Menu
                    </a>
                </div>
            </div>
            <div id="burger-list"></div>
        </div>
    </section>
    <!-- Section End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
